snippet var "var_dump"
var_dump($1);
endsnippet

snippet vard "var_dump and die"
var_dump($1); die;
endsnippet

snippet vare "var_export"
var_export($1, true);
endsnippet

snippet prd "print_r and die"
print_r($1); die;
endsnippet

